@use './variables' as *;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    // height: calc(100vh - 10px);
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    // border-radius: 16px;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

// dark mode
html.dark {
  body {
    background-color: #212121;
    color: #f5f5f5;
  }
}

#app{
    height: calc(100vh);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}